div.outer-content{
  background-color:pink;
  width: 75%;
  margin-top: 20px;}
div.inner-content{
  background-color:blue;
  width: 75%;
  margin-left: auto;
  margin-right: auto;}
input{
  margin-top: 20px;}
div.forms{
  border-width: 3px;
  border-style: groove;
  margin-top: 20px;
}
